@{
    ViewData["Title"] = "Контакты";
}

<div class="text-center">
    <h1 class="display-4">Контакты</h1>
    <p>Почта: cobaltum8@gmail.com</p>
    <p>Аккаунт GitHub https://github.com/Zigguraptor/</p>
</div>
