@{
    ViewData["Title"] = "Контакты";
}

<div class="text-center">
    <h1 class="display-4">Контакты</h1>
    <p>Почта: cobaltum8@gmail.com</p>
    <p>Аккаунт GitHub <a href="https://github.com/Zigguraptor">https://github.com/Zigguraptor</a></p>
</div>
