@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Сайт Игоря Котова</h1>
    <p>Бекэнд на ASP.NET(MVC). BD - SQLite. Обновления в реальном времени - SignalR.</p>
    <p>Запущено в docker-контейнере на vps.</p>
    <a href="https://github.com/Zigguraptor/MyEducationAspApp">Исходный код на GitHub</a>
    <p>Ищу работу.</p>
    <h4>Статус сервера:</h4>
    <p id="status-info"></p>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/home.js"></script>
